body {
    margin: 0 0 0 0;
    background-color: #E1F0E4;
}

.body-background{
    background-image: url("https://static.vecteezy.com/system/resources/previews/012/629/342/original/flat-fire-flames-png.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.card-div{
    position: fixed;
    top: 10%;
    left: 26%;
    height: 350px;
    width: 750px;
    text-align: center;
    background-color: #E1F0E4;
    text-align: center;
}

select {
    padding: 15px 40px;
    top: 10px; 
    position: relative;
}

.container {
    padding: 25px 20px;
}

button {
    background-color: #FFDD33;
    color: black;
    top: 50px; 
    position: relative;
    font-size: 30px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  }

  button:hover {
    box-shadow: inset 500px 0 0 0 #CE2029;
    color: black;
}