
.bg {
    /* The image used */
    background-image: url("https://www.pittsburghmagazine.com/content/uploads/data-import/1d64829b/IMG20190205151313.jpg");
  
    /* Full height */
    height: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

label {
    color: white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


  /* Add padding to containers */
.container {
    padding: 25px 20px;
}

.center {
    background-color: #303030;
    border: 4px solid #FFDD33;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}